<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer th:src="@{/fortune.js}"></script>
</head>

<body>
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXjdbWNzoHvb-S9RbOdfIEzF6ObZkr9fHigA&s" alt="">
        <input type="button" value="눌러보세요" id="click" name="click">
        <div id="target">


        </div>
    </div>


</body>

</html>