<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 보기 화면</title>
    <link rel="stylesheet" th:href="@{/css/detail.css}">
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/script/reply.js}"></script>
    <script defer th:src="@{/script/modify.js}"></script>

</head>

<body>
    <!--ajax 전송할때 필요한 정보-->
    <input type="hidden" name="" id="boardNum" th:value="${board.boardNum}">
    <input type="hidden" name="" id="loginId" th:value="${#authentication.name}"> <!--security 완성후에 -->
    <div class="container">
        <div class="container" th:replace="fragment/header(title='게시글 상세내용(f)')">
        </div>
    </div>
    <!-- <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="logo">
            </a>
            <h2>게시글 보기</h2>
        </div>
    </div> -->

    <div class="content">

        <table border="1" style="color: black;">
            <tr>
                <th><label for="boardWriter">작성자</label></th>
                <td>
                    <span th:text="${board.boardWriter}"></span>
                </td>
            </tr>
            <tr>
                <th><label for="boardTitle">글제목</label></th>
                <td>
                    <span th:text="${board.boardTitle}">
                </td>
            </tr>
            <tr>
                <th><label for="boardContent">작성일</label></th>
                <td>
                    <span th:text="${#temporals.format(board.createDate,'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            <tr>
                <th><label for="boardContent">수정일</label></th>
                <td>
                    <span th:text="${#temporals.format(board.updateDate,'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            <tr>
                <th><label for="boardContent">글내용</label></th>
                <td>
                    <pre>[[${board.boardContent}]]</pre>
                </td>
            </tr>

            <tr>
                <th><label for="uploadFile">첨부파일</label></th> <!-- 로그인 인증이 된 사람만 링크를 제공-->
                <td>
                    <span th:if="${board.originalFileName != null}">
                        <a th:href="@{board/download(boardNum=${board.boardNum})}"
                            th:text="${board.originalFileName}">파일명</a>
                    </span>
                </td>
            </tr>
            <tr>
                <th colspan="2"> <!-- 글수정과 삭제는 글쓴이와 로그인 한 사람이 같을 때만 보이도록함-->


                    <th:block th:if="${board.boardWriter==#authentication.name}">
                        <a href="#" class="btn btn-primary" th:data-no="${board.boardNum}" id="updateBtn">수정</a>
                        &nbsp;
                        <a thref="#" class="btn btn-danger" th:data-no="${board.boardNum}" id="deleteBtn">삭제</a>
                        &nbsp;
                    </th:block>
                    <a th:href="@{/board/boardList(searchItem=${searchItem},searchWord=${searchWord})}"
                        class="btn btn-light">목록으로</a> &nbsp;
                </th>
            </tr>
            <!--검색키워드르르 출략히는 부분-->
            <form action="" method="GET" id="modifyForm">
                <input type="hidden" id="boardNum" name="boardNum" th:value="${board.boardNum}">
                <input type="hidden" id="searchWord" name="searchWord" th:value="${searchWord}">
                <input type="hidden" id="searchItem" name="searchItem" th:value="${searchItem}">
            </form>

        </table>
        <!-- 댓글 목록 처리부분 -->

        <!--댓글 입력란:입력상자와 버튼(reply_num,board_num,writer,reply_text,date)-->
        <div class="reply-write">
            <input type="text" name="" id="replyText">
            <input type="button" value="댓글입력" id="replyBtn">
        </div>
        <!--댓글 출력란-->
        <div id="reply-list"></div>
    </div>
</body>


</html>