<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <script defer th:src="@{/script/search.js}"></script>
</head>

<body>
    <div class="container" th:replace="fragment/header(title='게시글 목록(f)')">
        <!-- <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="logo">
            </a>
            <h2>게시글 목록</h2>
        </div>-->
    </div>


    <!-- 8.26. by 도겸 / 게시글 전체 목록 출력-->
    <div class="content">
        <div class="top">
            <!-- 전체 글개수 출력 -->
            <div class="count">
                <p>게시글개수:[[${list.totalElements}]]</p>
            </div>

            <!-- 검색창 -->
            <div class="search">
                <form action="boardList" method="GET" id="searchForm">
                    <input type="hidden" name="page" id="requestPage" th:value="${page}">
                    <select name="searchItem" id="searchItem">
                        <option value="boardTitle" th:selected="${searchItem == 'boardTitle'}">글 제목</option>
                        <option value="boardWriter" th:selected="${searchItem == 'boardWriter'}">작성자</option>
                        <option value="boardContent" th:selected="${searchItem == 'boardContent'}">글 내용</option>
                    </select>
                    <input type="text" name="searchWord" id="searchWord" th:value="${searchWord}">
                    <input type="button" id="search" value="검색" class="btn btn-primary">
                </form>
            </div> <!-- end .search-->
        </div>

        <div class="head">
            <!-- 게시글 목록 -->
            <div>
                <table border="1">
                    <tr>
                        <th class="no">글번호</th>
                        <th>제목</th>
                        <th class="writer">작성자</th>
                        <th class="hitcount">조회수</th>
                        <th class="create_date">작성일</th>
                    </tr>
                    <th:block th:unless="${#lists.isEmpty(list)}">
                        <!-- 반복 구간 -->
                        <tr th:each=" board, status : ${list}">

                            <td class="no" th:text="${(list.number+1)*list.size-(list.size-status.count)}">1</td>
                            <td><a th:href="@{/board/boardDetail(boardNum=${board.boardNum}, searchItem=${searchItem}, searchWord=${searchWord})}"
                                    th:text="${board.boardTitle}">오늘은 날씨가 매우 더워요</a>
                                <!-- 댓글 개수 출력-->
                                <th:block th:if="${board.replyCount!=0}">
                                    <span style="font-weight: bold; color:darkred">([[${board.replyCount}]])</span>
                                </th:block>
                                <span th:if="${board.originalFileName != null}">
                                    <img th:src="@{/images/attachment.png}" alt="파일 삭제" width="20px">
                                </span>
                            </td>
                            <td class="writer" th:text="${board.boardWriter}">임꺽정</td>
                            <td class="hitcount" th:text="${board.hitCount}">0</td>
                            <td class="create_date" th:text="${#temporals.format(board.createDate,'yyyy-MM-dd HH:mm')}">
                                2024-08-26
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div> <!-- end .content -->

    <!-- 글쓰기 버튼 : 로그인한 회원만 보임 -->
    <div class="write">
        <a th:href="@{/board/boardWrite}" class="btn btn-primary">글쓰기</a>
    </div>

    <!-- Page Navigation -->
    <nav class="pagination">

        <!-- 앞그룹 -->
        <!--  두번째 그룹 이상에서 보고있을 때는 링크 생성 -->
        <th:block th:if="${navi.startPageGroup > 1}">
            <a th:href="|javascript:pageFormSubmit(${navi.startPageGroup-1})|">&laquo;</a>
        </th:block>
        <!--첫번째 그룹을 보고있을 떄는 링크 안생김   -->
        <th:block th:unless="${navi.startPageGroup > 1}">
            <span class="page-no navi">&laquo;</span>
        </th:block>


        <!--  2 페이지 이상의 페이지를 보고있다면 링크 생김  -->
        <th:block th:if="${navi.page > 1}">
            <a class="page-no" th:href="|javascript:pageFormSubmit(${navi.page-1})|">&lsaquo;</a>
        </th:block>
        <!-- 1페이지를 보고있다면ㅁ 링크 생기지않음-->
        <th:block th:unless="${navi.page>1}">
            <span class="page-no navi">&lsaquo;</span>
        </th:block>

        <!-- 페에지번호 출력 (요청한 페이지? 요청하지 않은 페이지?)-->

        <span th:each="count : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
            <!--요청한 페이지-->
            <span th:if="${count==navi.page}">
                <b class="page-no current" th:text="${count}"></b>
            </span>
            <!-- 요청하지 않은 페이지-->
            <span th:unless="${count==navi.page}">
                <a th:href="|javascript:pageFormSubmit(${count})|" class="page-no" th:text="${count}"></a>
                <!-- 타임리프에서 코드안에 자바스크립트, pageformsubmit이라는 걸 해석 x 해서 섞여있다는 의미로 | 가 필요하다-->
            </span>

        </span>
        <!-- 뒷 페이지 -->
        <!-- 현재페이지 뒤에 다른 페이지가 있으면 링크생김-->
        <th:block th:if="${(navi.totalPages)>(navi.page)}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.page+1})|">&rsaquo;</a>
        </th:block>


        <!--마지막페이지면 링크없음-->
        <th:block th:unless="${(navi.totalPages)>(navi.page)}">
            <span class="page-no navi">&rsaquo;</span>
        </th:block>

        <!-- 뒷그룹 -->
        <!-- 다음 그룹이 있으면 링크가 생김-->
        <th:block th:if="${(navi.currentGroup) < (navi.totalGroupCount)}">
            <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.endPageGroup+1})|">&raquo;</a>
        </th:block>


        <!-- 마지막 그룹을 보고잇으면 링크없음-->
        <th:block th:unless="${(navi.currentGroup) < (navi.totalGroupCount)}">
            <span class="page-no navi">&raquo;</span>
        </th:block>
    </nav>
</body>

</html>