<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>피트니스 정보를 입력</title>
</head>
<body>
	<form action="regist" method="POST">
		<label>이름을 입력: </label>
		<input type="text" id="name" name="name" placeholder="이름을 입력"><br>
	
		<label>키를입력: </label>
		<input type="text" placeholder="키를 입력" id="height" name="height"><br>
		
		<label>몸무게를입력: </label>
		<input type="text" placeholder="몸무게를 입력"  name="weight" id="weight"><br>
		
		<label>성별을 입력: 
		<input type="radio"  value="남" id="gender" name="gender"> 남
		<input type="radio"  value="여" id="gender" name="gender"> 여<br>
		</label>
		
		<input type="submit" placeholder="전송">
>	
	</form>
</body>
</html>