<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}" layout:fragment="content">

<head>
    <meta charset="UTF-8">
    <title>화물 정보 입력 수정 폼</title>

    <style>

    </style>
</head>

<body>

    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h6 class="text-secondary text-uppercase mb-3">Get A Quote</h6>
                    <h1 class="mb-5">Request A Free Qoute!</h1>
                    <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                        eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo erat amet</p>
                    <div class="d-flex align-items-center">
                        <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                        <div class="ps-4">
                            <h6>Call for any query!</h6>
                            <h3 class="text-primary m-0">+012 345 6789</h3>
                        </div>
                    </div>
                </div>


                <div class="col-lg-7">
                    <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                        <form
                            th:action="@{/dong/modifyCargo/{exportId}/{userId}(exportId=${exportId},userId=${userId})}"
                            method="post">
                            <input type="hidden" name="searchItem" th:value="${searchItem}">
                            <input type="hidden" name="searchWord" th:value="${searchWord}">
                            <input type="hidden" name="navi" th:value="${navi}">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <label for="name">화물명</label>
                                    <input type="text" class="form-control border-0" placeholder="화물명"
                                        style="height: 55px;" id="name" name="name" th:value="${cargoDto['name']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="width">화물 가로 (cm)</label>
                                    <input type="text" class="form-control border-0" placeholder="화물 가로"
                                        style="height: 55px;" id="width" name="width" th:value="${cargoDto['width']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="length">화물 세로 (cm)</label>
                                    <input type="text" class="form-control border-0" placeholder="화물 세로"
                                        style="height: 55px;" id="length" name="length"
                                        th:value="${cargoDto['length']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="height">화물 높이 (cm)</label>
                                    <input type="text" class="form-control border-0" placeholder="화물 높이"
                                        style="height: 55px;" id="height" name="height"
                                        th:value="${cargoDto['height']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="weight">화물 중량 (kg)</label>
                                    <input type="text" class="form-control border-0" placeholder="화물 중량"
                                        style="height: 55px;" id="weight" name="weight"
                                        th:value="${cargoDto['weight']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="quantity">화물 수량</label>
                                    <input type="text" class="form-control border-0" placeholder="화물 수량"
                                        style="height: 55px;" id="quantity" name="quantity"
                                        th:value="${cargoDto['quantity']}">
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="containerType">컨테이너 종류</label>
                                    <select id="containerType" name="containerType" class="form-control border-0"
                                        style="height: 55px;">
                                        <option value="">선택하세요</option>
                                        <option value="표준" th:selected="${cargoDto['containerType']}=='표준'">표준 컨테이너
                                        </option>
                                        <option value="냉동" th:selected="${cargoDto['containerType']}=='냉동'">냉동 컨테이너
                                        </option>
                                        <option value="오픈" th:selected="${cargoDto['containerType']}=='오픈'">오픈 톱 컨테이너
                                        </option>
                                        <option value="플렛랙" th:selected="${cargoDto['containerType']}=='플렛랙'">플랫 랙 컨테이너
                                        </option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="isDangerous">위험화물 여부</label>
                                    <select id="isDangerous" name="isDangerous" class="form-control border-0"
                                        style="height: 55px;">
                                        <option value="">선택하세요</option>
                                        <option value="0" th:selected="${cargoDto['isDangerous']}==0">일반화물</option>
                                        <option value="1" th:selected="${cargoDto['isDangerous']}==1">위험화물</option>
                                    </select>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label>컨테이너크기:</label>
                                    <input type="text" value="20FT" readonly class="form-control border-0"
                                        style="height: 55px;">
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">제출</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</body>

</html>