<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>친구정보 등록화면</title>
    <style>
        .error {
            color: red;
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <h2>친구정보 등록화면</h2>
    <div>
        <a th:href="@{/}"><img th:src="@{/images/home.png}" alt="첫화면으로"></a>
    </div>
    <form th:action="@{/insertFriend}" method="POST" th:object="${friend}"> <!-- 동일한 ㅁ명의 호출은 불가능하지만 방식이 달라져서 가능-->>
        <label for="fname">이름: </label>
        <input type="text" name="fname" id="fname" placeholder="이름입력" th:field="*{fname}">
        <span class="error" th:errors="*{fname}"></span>
        <br>

        <label for="age">나이:</label>
        <input type="number" name="age" id="age" placeholder="나이입력" th:field="*{age}">
        <span class="error" th:errors="*{age}"></span>
        <br>

        <label for="phone">전화번호:</label>
        <input type="text" name="phone" id="phone" placeholder="전화번호 입력" th:field="*{phone}">
        <span class="error" th:errors="*{phone}"></span>

        <br>

        <label for="birthday">생년월일:</label>
        <input type="date" name="birthday" id="birthday" th:value="*{birthday}">
        <span class="error" th:errors="*{birthday}"></span>

        <br>

        <label>
            <input type="radio" name="active" value="1" checked>외향적 &nbsp;
            <input type="radio" name="active" value="0">내성적
        </label>
        <br><br>

        <div>
            <input type="submit" value="저장">
            <input type="reset" value="초기화">
        </div>
    </form>
</body>

</html>