<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form active="regist" method="POST">
		<label for="username">이름: </label>
		<input type="text" name="username" id="username"><br>
		<label for="phone">전화번호: </label>
		<input type="text" name="phone" id="phone"><br>
		<label for="age">나이: </label>
		<input type="text" name="age" id="age"><br>
		<label for="birthday">생일: </label>
		<input type="date" name="birthday" id="birthday"><br>
		<label for="active">성향: 
		<input type="radio" name="active" id="active" value=0> 내향
		<input type="radio" name="active" id="active" value=1> 외향
		</label><br><br>
		<input type="submit" value="제출">
		<input type="reset" value="취소">
	</form>
	
</body>
</html>